.container-card .card-people {
    color: $secondary;
    cursor: default;
    text-align: center;
    transition: 0.3s ease;

    &:hover {
        color: $primary;
        outline: 5px solid $primary;
        outline-offset: -5px;

        .card-people__carousel img {
            transform: translateY(-50%);
        }
    }

    .card-people__carousel {
        margin: -55px auto;
        width: 88px;
        height: 88px;
        overflow: hidden;

        img {
            transition: none !important;
            transition-delay: 0.3s !important;
        }
    }

    h2.card-title {
        font-size: 21px;
        margin: 2.9rem 0 1rem;
    }

    p.card-text {
        font-size: 14px;
    }
}