@media (min-width: 992px) and (max-width: 1120px){
    #navbarNav li a {
        font-size: .8rem;
    }
}
@media (min-width: 992px) {
    a.navbar-brand.bg-primary.text-white {
        padding-left: 10rem !important;
        text-transform: uppercase;
    }

    #navbarNav {
        background-color: white !important;

        li {
            border: none !important;

            a {
                color: $secondary !important;
            }
        }
    }
}

@media (min-width: 576px) {
    #navbarNav a {
        color: $lighten-sec !important;
        transition: 0.3s ease;

        &:hover {
            color: $lighten-pri !important;
        }
    }
}
