$font-family-base: "Open Sans", "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$headings-font-family: "Open Sans", "Montserrat", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$subheadings-font-family: $font-family-base;

$headings-font-weight: 700;
$headings-letter-spacing: 0.0625em;

$primary: #5abaac;
$lighten-pri: lighten($primary, 15%);
$darken-pri: darken($primary, 15%);

$secondary: #303434;
$lighten-sec: lighten($secondary, 15%);
$darken-sec: darken($secondary, 15%);